#service_due_filter select, #notify_filter select {
  color: #9e9e9e;
  text-transform: uppercase !important;
  width: 115px !important;
  font-size: inherit !important;
  padding-top: 8px !important;
}
#service_due_filter select, #notify_filter option:first-of-type {
  color: #9e9e9e !important;
}
#service_due_filter select, #notify_filter option {
	font-size: inherit;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}



/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
    text-align: center;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 33%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #customer:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #property:before {
    font-family: FontAwesome;
    content: "\f1ad";
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f09d";
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

/*ProgressBar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: skyblue;
}
